#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 23px;
  width: 83px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  height: 23px;
  width: 83px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 17px 17px 17px 17px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 87px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 17px 17px 17px 17px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 87px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Image_4 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Image_6 {
  -ms-transform: rotate(180.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0bd5a53c-0e7b-4981-9e9b-41540758e2dd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}