#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_13 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda #s-Image_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1d8595fa-9d4d-4c97-b4e3-db4edb931fda > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}