#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Label_55 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 17px 17px 17px 17px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 87px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Table_2 {
  border-collapse: separate;
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Label_56 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 17px 17px 17px 17px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 87px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4f999b12-881c-4944-9350-d8c3d5b83525 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}