#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 17px 17px 17px 17px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 87px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 17px 17px 17px 17px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 87px;
  width: 305px;
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_6 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_9 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_10 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a #s-Image_11 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-6bcc118d-9113-4e0b-9f65-e57e4b6f2c6a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}